

body{
    background-image: url(../images/regbg.jpg);
    background-position: center;
    background-size: cover;
}

.registration-form{
    background-color: rgb(0, 0, 0,0.5);
    width: 500px;
    margin: auto;
}

.registration ul{
    color: black;
    list-style: none;
    font-family: 'Akshar', sans-serif;
}
.text{
    line-height: 20px;
    width: 200px;
    margin-left: 100px;
}
.firstname{
    line-height: 20px;
    width: 200px;
    margin-left: 121px;
}
.dateofbirth{
    line-height: 20px;
    width: 200px;
    margin-left: 112px;
}
.email{
    line-height: 20px;
    width: 200px;
    margin-left: 160px;
}
.password{
    line-height: 20px;
    width: 200px;
    margin-left: 130px;
}
.gender{
    margin-left: 150px;
}
.register-btn{
    margin-left: 150px;
}
.regParagraph{
    margin-left: 100px;
}
.login-btn-reg{
    margin-left: 150px;
    width: 80px;
    margin-bottom: 50px;
}
.login-btn{
    margin-left: 150px;
    margin-top: 20px ;
}
.loginParagraph{
    margin-left: 115px;
}
.register-btn-login{
    margin-left: 140px;
    margin-bottom: 50px;
}
